.technology-background{
    background-image: url('./../assets/technology/background-technology-desktop.jpg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}