@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@400;500;700&family=Bellefair&family=Kumbh+Sans&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

.home-background{
    background-image: url('./../../starter-code/assets/home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-inline: 15%;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 45%;
}

h3{
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #D0D6F9;
    font-family: Barlow;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.explore {
    font-family: Bellefair;
    font-size: 23px;
    border-radius: 50%;
    border: none;
    padding: 90px 60px;
    background-color: #ffffff;
}


