@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@400;500;700&family=Bellefair&family=Kumbh+Sans&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');
  
.home-container{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1; 
    background-image: url('./../assets/home/background-home-desktop.jpg');
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.home-container-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-content-container{
    display: flex;
    justify-content:space-between;
    align-items: end;
    flex-direction: row;
    width: 70%;
    gap: 30%;
    /* margin-top: 20%; */
    /* margin-inline: 165px; */
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* max-width: 450px; */
}

h3{
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #D0D6F9;
    font-family: Barlow;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.home-explore {
    font-family: Bellefair;
    font-size: 23px;
    border-radius: 50%;
    border: none;
    padding: 90px 60px; 
    background-color: #ffffff;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.home-explore:hover {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1036);
} 

@media screen and (max-width: 1023px) {
    .home-container {
        background-image: url('./../assets/home/background-home-tablet.jpg');
    }

    .home-content-container{
        align-items: center;
        flex-direction: column;
        height: 70%;
        width: 80%;
        gap: 10%;
        /* margin-top: 20%; */
        /* margin-inline: 165px; */
    }

    .home-content {
        align-items: center;
        /* max-width: 450px; */
        width: 90%;
    }

    .home-content h3 {
        font-size: 20px;
        letter-spacing: 3.375px;
    }

    .home-content span {
        font-size: 150px;
    }

    .home-content p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }

}

/* @media screen and (max-width: 767px) {
    .home-container {
        background-image: url('./../assets/home/background-home-mobile.jpg');
    }

    .home-content h3 {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .home-content p {
        font-size: 15px;
        line-height: 25px; 
    }
} */

@media screen and (max-width: 767px) {
    .home-container {
        background-image: url('./../assets/home/background-home-mobile.jpg');
    }

    .home-content h3 {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .home-content p {
        font-size: 15px;
        line-height: 25px; 
    }

    /* .home-content {
        max-width: 100%; 
    } */

    .home-content span {
        color: #FFF;
        text-align: center;
        font-family: Bellefair;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 100px; 
    }

    /* .home-content-container {
        gap: 0;
    } */

    .home-content {
        /* margin-bottom: 10%; */
        padding: 0 5%;
    }

    .home-explore {
        font-size: 20px;
        padding: 70px 40px;
    }


}


