@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Kumbh+Sans&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');


ul{
    list-style-type: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar{
    margin-right: -15px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 15px 167px 15px 110px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.menu li {
color: #FFF;
font-family: Barlow Condensed, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.7px;

}

svg{
    position: absolute;
    z-index: 1;
    left: 110px;
}

@media (max-width: 1204px) {
    svg {
        display: none;
    }
}

.site-logo{
    margin-left: 30px
}

