.technology-container {
    background-image: url('./../assets/technology/background-technology-desktop.jpg');
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.technology-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10%;
    margin-left: 165px;
}

.technology-header {
    max-width: 400px;
}

.technology-header-number {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
}

.technology-header-text {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.technology-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.technology-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.technology-button {
    width: 70px; 
    height: 70px;
    border: 0.5px solid white; 
    border-radius: 50%;
    background-color: transparent; 
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.technology-button:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
}

.technology-button-active {
    background-color: white; 
    color: black;
}

.technology-terminology {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.technology-name {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.technology-description {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.technology-img {
    margin-top: -50px;
    width: 430px;
    height: 500px;
}

.technology-img-landscape {
    display: none;
}

@media screen and (max-width: 1024px) {
    .technology-container {
      background-image: url('./../assets/technology/background-technology-tablet.jpg');
    }

    .technology-header {
        max-width: 100%;
        margin-left: 40px;
        margin-top: 40px;
    }
    
    .technology-header-number {
        font-size: 20px;
        letter-spacing: 3.375px;
    }

    .technology-header-text {
        font-size: 20px;
        letter-spacing: 3.375px;
    }
  
    .technology-content {
        margin-left: 0;
    }

    .technology-content-container {
      display: flex;
      flex-direction: column; 
      width: 100%; 
      gap: 30px;
    }

    .technology-img {
        display: none;
    }

    .technology-img-landscape {
      display: block;
      width: 100%;
      height: auto;
      margin: auto; 
    }
  
    .image-container {
        width: 100%;
    }

    .technology-name {
        font-size: 40px;
    }

    .technology-description {
        font-size: 16px;
        line-height: 28px;
    }

    .technology-buttons {
        order: 2; 
        flex-direction: row;
    }

    .technology-button {
        width: 60px;
        height: 60px;
    }
  
    .technology-text {
      order: 3;
      max-width: 70%;
    }

    .technology-terminology,
    .technology-name,
    .technology-description {
        text-align: center;
    }

  }

@media screen and (max-width: 767px) {
    .technology-container {
        background-image: url('./../assets/technology/background-technology-mobile.jpg')
    }

    .technology-content {
        align-items: center;
        margin-top: 70px;
        gap: 20px;
    }

    .technology-header {
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .technology-content-container {
        gap: 20px;
    }

    .technology-header-number,
    .technology-header-text {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .technology-button {
        width: 40px;
        height: 40px;
    }

    .technology-text {
        max-width: 90%;
    }

    .technology-terminology {
        font-size: 14px;
        letter-spacing: 2.36px;
        margin: 0;
    }

    .technology-name {
        font-size: 24px;
        margin: 10px 0;
    }

    .technology-description {
        font-size: 15px;
    }
  


}