.destination-container{
    background-image: url('./../assets/destination/background-destination-desktop.jpg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.destination-container-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.destination-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* margin-top: 10%; */
    width: 80%;
    height: 60%;
    /* margin-inline: 165px; */
}

.destination-header {
    position: relative;
    /* max-width: 400px; */
}

.destination-header-number {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
}

.destination-header-text {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.destination-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.destination-nav-menu {
    display: flex;
    justify-content: start;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.destination-nav-title {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    padding-bottom: 10px;
    transition: border-color 0.3s; 
}

.destination-nav-title:hover {
    border-color: rgba(255, 255, 255, 0.5); 
}

.destination-nav-title.active {
    border-color: white; 
}

.destination-title {
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: 25px;
    text-transform: uppercase;
    margin-block: 0;
}

.destination-description {
    border-bottom: 1px solid #383B4B;
    padding-bottom: 25px;
    margin-top: 0;
    /* height: 130px; */
}

.destination-planet-image img{
    margin: 20px;
    height: 90%;
    width: 90%;
}

.destination-planet-image {
    text-align: center;
}

.destination-text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.destination-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.destination-distance-travel {
    display: flex;
    gap: 80px;
}

.destination-headers {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.destination-numbers {
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


@media screen and (max-width: 1024px) and (max-height: 550px) {
    .destination-content {
        gap: 10px;
        /* margin-inline: 100px; */
    }

    .destination-text-content {
        gap: 10px;
    }

    .destination-title {
        font-size: 80px;
    }

    .destination-numbers {
        font-size: 20px;
    }

    .destination-planet-image {
        width: 90%;
        height: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .destination-container {
        background-image: url('./../assets/destination/background-destination-tablet.jpg');
    }

    .destination-header {
        max-width: 100%;
        align-self: flex-start;
        margin-left: 40px;
        /* margin-top: 40px;  */
    }

    .destination-header-number {
        font-size: 20px;
        letter-spacing: 3.375px;
    }

    .destination-header-text {
        font-size: 20px;
        letter-spacing: 3.375px;
    }

    .destination-planet-image {
        width: 40%;
    }

    .destination-planet-image img {
        /* height: 100%; */
        width: 90%;
        margin: 0;
    }

    .destination-nav-title {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .destination-title {
        text-align: center;
        font-size: 80px;
    }

    .destination-description {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        /* height: 100px; */
    }

    .destination-headers {
        text-align: center;
        font-size: 14px;
        letter-spacing: 2.362px;
    }

    .destination-numbers {
        text-align: center;
        font-size: 28px;
    }

    .destination-content {
        width: 90%;
        /* margin-inline: 5%;
        margin-top: 20%; */
        align-items: center;
        height: auto;
    }

    .destination-content-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .destination-text-content {
        width: 80%;
    }

    .destination-nav-menu {
        justify-content: center;
    }

    .destination-distance-travel {
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
    .destination-content {
        /* margin-top: 20%; */
    }

    .destination-title {
        margin-block: 0;
    }

    .destination-text-content {
        gap: 0;
    }
}

@media screen and (max-width: 767px) {
    .destination-container {
        background-image: url('./../assets/destination/background-destination-mobile.jpg');
    }

    .destination-content {
        /* margin-top: 70px; */
    }

    .destination-header-number {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .destination-header-text {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .destination-planet-image {
        height: 40%;
        width: 40%;
    }

    .destination-planet-image img {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .destination-nav-title {
        font-size: 14px;
        letter-spacing: 2.3px;
    }

    .destination-nav-menu {
        gap: 20px;
    }

    .destination-title {
        font-size: 56px;
        margin-block: 7%;
    }

    .destination-description {
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 7%;
        margin-bottom: 7%;
    }

    .destination-headers {
        text-align: center;
        font-size: 12px;
        letter-spacing: 2.362px;
    }

    .destination-numbers {
        text-align: center;
        font-size: 28px;
    }

    .destination-text-content {
        gap: 0;
        width: 100%;
    }

    .destination-distance-travel {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 600px) and (max-height:750px) {
    .destination-content {
        /* margin-top: 70px; */
        gap: 15px;
    }

    .destination-numbers {
        text-align: center;
        font-size: 18px;
    }

    .destination-distance-travel {
        gap: 10px;
    }

    .destination-block {
        gap: 3px;
    }

    .destination-description {
        padding-bottom: 10px;
    }

    .destination-title {
        margin-block: 0;
    }

}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .destination-content {
        gap: 10px;
        width: 80%;
        height: 60%;
    }

    .destination-content-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .destination-text-content {
        width: 70%;
        align-items: flex-start;
    }

    .destination-title {
        font-size: 22px;
        margin-block: 2%;
    }

    .destination-description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 2%;
        padding-bottom: 2%;
        text-align: left;
    }

    .destination-distance-travel {
        flex-direction: row;
    }

    .destination-planet-image {
        height: auto;
        width: 30%;
    }

    .destination-header-number {
        font-size: 12px;
    }

    .destination-header-text {
        font-size: 12px;
    }

    .destination-block {
        gap: 0;
        align-items: flex-start;
    }

    .destination-headers {
        font-size: 10px;
    }

    .destination-numbers {
        font-size: 10px;
    }
}



